NODE_ENV=production
APP_NAME="Travel"
APP_VERSION="1.0.0"
APP_PORT=3000

DATABASE_URL="postgresql://postgres:password@localhost:5432/travel?schema=public"
JWT_SECRET="htnTEC9oWj"
ENABLE_SWAGGER="true"